<div>
  <div class="MainTitle">Recetas</div>
  <div class="RecipeList">
    <app-meal-preview></app-meal-preview>
    <app-meal-preview></app-meal-preview>
    <app-meal-preview></app-meal-preview>
    <app-meal-preview></app-meal-preview>
    <app-meal-preview></app-meal-preview>
    <app-meal-preview></app-meal-preview>
    <app-meal-preview></app-meal-preview>
    <app-meal-preview></app-meal-preview>
    <app-meal-preview></app-meal-preview>
    <app-meal-preview></app-meal-preview>
  </div>
</div>
