<div>
  <div class="MainTitle">Nueva Receta</div>
  <div class="RecipeContainer">
    <div class="FoodImageContainer">
      <img src="" class="FoodImage" />
      <button class="AddFoodImage">Agregar Imagen</button>
      <button class="ChangeFoodImage">Cambiar Imagen</button>
    </div>
    <div>
      <div class="Name">Nombre de la receta</div>
      <textarea
        class="Description"
        name="recipeName"
        (change)="changeRecipeName($event)"
        [placeholder]="recipeNamePlaceholder"
        [value]="newRecipeService.recipeName"
      ></textarea>
    </div>

    <div>
      <div class="Name">Descripción</div>
      <textarea
        class="RecipeDescription"
        name="recipeDescription"
        (change)="changeRecipeDescription($event)"
        [placeholder]="recipeDescriptionPlaceholder"
        [value]="newRecipeService.recipeDescription"
      ></textarea>
    </div>

    <div>
      <div class="Title">Ingredientes</div>
      <form class="Ingredients">
        <div
          *ngFor="let ingredient of newRecipeService.ingredients; let i = index"
          class="NewIngredientContainer"
        >
          <input
            [id]="ingredient.id"
            class="NewIngredient"
            type="text"
            [value]="ingredient.description"
            (change)="changeIngredient($event)"
          />
          <input
            [id]="ingredient.id"
            type="button"
            class="SubmitNewIngredient"
            value="Borrar"
            (click)="deleteIngredient($event)"
          />
        </div>
        <div class="NewIngredientContainer">
          <input
            type="text"
            id="NewIngredient"
            class="NewIngredient"
            name="newIngredient"
            (change)="changeNewIngredient($event)"
            [placeholder]="newIngredientPlaceholder"
            [value]="newRecipeService.newIngredient.description"
          />
          <input
            type="button"
            class="SubmitNewIngredient"
            value="Agregar"
            (click)="addIngredient()"
          />
        </div>
      </form>
    </div>

    <div>
      <div class="Title">Instrucciones</div>
      <textarea
        class="Instructions"
        name="instructions"
        (change)="changeInstructions($event)"
        [placeholder]="instructionsPlaceholder"
        [value]="newRecipeService.instructions"
      ></textarea>
    </div>

    <div class="SaveRecipeContainer">
      <button class="SaveRecipe" (click)="saveRecipe()">Publicar Receta</button>
    </div>
  </div>
</div>
