<div>
  <div class="MainTitle">Nueva Receta</div>
  <div class="RecipeContainer">
    <div class="FoodImageContainer">
      <img src="" class="FoodImage" />
      <button class="AddFoodImage">Agregar Imagen</button>
      <button class="ChangeFoodImage">Cambiar Imagen</button>
    </div>
    <div>
      <div class="Name">Nombre de la receta</div>
      <textarea
        class="Description"
        (change)="changeRecipeName($event)"
      ></textarea>
    </div>

    <div>
      <div class="Title">Ingredientes</div>
      <form class="Ingredients">
        <div class="Ingredients">Ingrediente</div>
        <div class="Ingredients">Ingrediente</div>
        <div class="Ingredients">Ingrediente</div>
        <div class="NewIngredientContainer">
          <input
            type="text"
            class="NewIngredient"
            (change)="changeNewIngredient($event)"
          />
          <input
            type="submit"
            class="SubmitNewIngredient"
            value="Agregar"
            (click)="addIngredient()"
          />
        </div>
      </form>
    </div>

    <div>
      <div class="Title">Instrucciones</div>
      <textarea
        class="Instructions"
        (change)="changeInstructions($event)"
      ></textarea>
    </div>

    <div class="SaveRecipeContainer">
      <button class="SaveRecipe" (click)="saveRecipe()">Publicar Receta</button>
    </div>
  </div>
</div>
