<div>
  <div class="MainTitle">Nueva Receta</div>
  <div class="RecipeContainer">
    <div class="FoodImageContainer">
      <img [src]="newRecipeService.image" class="FoodImage" />
      <label
        *ngIf="!newRecipeService.image"
        for="addImage"
        class="AddFoodImage"
      >
        <input
          type="file"
          accept="image/jpg, image/jpeg"
          id="addImage"
          class="AddFoodImageHiden"
          (change)="changeImage($event)"
        />
        Agregar Imágen
      </label>

      <label
        *ngIf="newRecipeService.image"
        for="changeImage"
        class="ChangeFoodImage"
      >
        <input
          type="file"
          accept="image/jpg, image/jpeg"
          id="changeImage"
          (change)="changeImage($event)"
          class="ChangeFoodImageHiden"
        />
        Cambiar Imagen
      </label>
    </div>
    <div>
      <div class="Name">Nombre de la receta</div>
      <textarea
        class="Description"
        name="recipeName"
        (change)="updateInformation($event)"
        [placeholder]="recipeNamePlaceholder"
        [value]="newRecipeService.recipeName"
      ></textarea>
    </div>

    <div>
      <div class="Name">Descripción</div>
      <textarea
        class="RecipeDescription"
        name="recipeDescription"
        (change)="updateInformation($event)"
        [placeholder]="recipeDescriptionPlaceholder"
        [value]="newRecipeService.recipeDescription"
      ></textarea>
    </div>

    <div>
      <div class="Title">Ingredientes</div>
      <form class="Ingredients">
        <div
          *ngFor="let ingredient of newRecipeService.ingredients; let i = index"
          class="NewIngredientContainer"
        >
          <input
            [id]="ingredient.id"
            class="NewIngredient"
            type="text"
            name="ingredient"
            [value]="ingredient.description"
            (change)="updateInformation($event)"
          />
          <input
            [id]="ingredient.id"
            type="button"
            class="SubmitNewIngredient"
            value="Borrar"
            name="deleteIngredient"
            (click)="updateInformation($event)"
          />
        </div>
        <div class="NewIngredientContainer">
          <input
            type="text"
            id="NewIngredient"
            class="NewIngredient"
            name="newIngredient"
            (change)="updateInformation($event)"
            [placeholder]="newIngredientPlaceholder"
            [value]="newRecipeService.newIngredient.description"
          />
          <input
            type="button"
            class="SubmitNewIngredient"
            value="Agregar"
            name="newRecipeIngredient"
            (click)="updateInformation($event)"
          />
        </div>
      </form>
    </div>

    <div>
      <div class="Title">Instrucciones</div>
      <textarea
        class="Instructions"
        name="instructions"
        (change)="updateInformation($event)"
        [placeholder]="instructionsPlaceholder"
        [value]="newRecipeService.instructions"
      ></textarea>
    </div>

    <div class="SaveRecipeContainer">
      <button class="SaveRecipe" (click)="saveRecipe()">Publicar Receta</button>
    </div>
  </div>
</div>
