<div class="RecipeContainer">
  <div class="FoodImageContainer">
    <img src="" class="FoodImage" />
  </div>
  <div>
    <div class="Name">Nombre de la receta</div>
    <div class="Description">
      Descripcion de la receta, descripcion de la receta
    </div>
  </div>

  <div>
    <div class="Title">Ingredientes</div>
    <form class="Ingredients">
      <input type="checkbox" id="detail" />
      <label for="detail">Ingrediente</label><br />
      <input type="checkbox" id="detail" />
      <label for="detail">Ingrediente</label><br />
      <input type="checkbox" id="detail" />
      <label for="detail">Ingrediente</label><br />
    </form>
  </div>

  <div>
    <div class="Title">Instrucciones</div>
    <div class="Instructions">Instrucciones</div>
  </div>

  <div class="SaveRecipeContainer">
    <button class="SaveRecipe">Guardar Receta</button>
  </div>
</div>
