.RecipeContainer
    padding: 10px
    font-family: Roboto, sans-serif
.FoodImageContainer
    display: flex
.FoodImage
    background-color: #e0e0e0
    width: 300px
    max-width: 100%
    height: 200px

.Name
    font-size: large
    font-weight: 500
    margin-top: 10px

.Description
    font-size: medium
    margin-top: 10px

.Title
    font-size: large
    font-weight: 500
    margin-top: 10px

.Ingredients
    margin-top: 10px


.SaveRecipeContainer
    margin-top: 10px
    display: flex
    justify-content: center
    align-content: center
.Instructions
    margin-top: 10px
    font-family: Roboto, sans-serif
    font-size: medium
.SaveRecipe
    font-family: Roboto, sans-serif
    font-size: large
    box-sizing: border-box
    background-color: #000
    color: #fff
    padding: 10px
    width: 100%
    border: none
    border-radius: 5px
    cursor: pointer