<div>
  <div class="MainTitle">Mis recetas</div>
  <div class="RecipeList">
    <app-recipe-preview></app-recipe-preview>
    <app-recipe-preview></app-recipe-preview>
    <app-recipe-preview></app-recipe-preview>
    <app-recipe-preview></app-recipe-preview>
    <app-recipe-preview></app-recipe-preview>
    <app-recipe-preview></app-recipe-preview>
    <app-recipe-preview></app-recipe-preview>
    <app-recipe-preview></app-recipe-preview>
    <app-recipe-preview></app-recipe-preview>
    <app-recipe-preview></app-recipe-preview>
  </div>
</div>
