.MainContainer
    display: flex
    flex-wrap: wrap

.MainTitle
    font-family: Roboto, sans-serif
    font-size: x-large
    font-weight: 500
    padding-left: 15px
    margin-bottom: 5px
    margin-top: 5px

.Meals
    max-width: 1250px
    display: grid
    padding: 10px
    gap: 10px
    grid-template-columns: 1fr

    @media ( min-width: 530px )
        grid-template-columns: 1fr 1fr

    @media ( min-width: 790px )
        grid-template-columns: 1fr 1fr 1fr

    @media ( min-width: 1050px )
        grid-template-columns: 1fr 1fr 1fr 1fr