<nav class="NavbarContainer">
  <div class="MainButtonsContainer">
    <button class="MenuButton" (click)="openMenu()">
      <mat-icon class="MenuButtonIcon">menu</mat-icon>
    </button>

    <a class="Logo" routerLink="/">ComidaYa</a>
  </div>

  <div class="SearchContainer">
    <input
      id="Search"
      class="Search"
      type="search"
      [placeholder]="searchService.searchPlaceholder"
      (change)="changeSearch($event)"
      (search)="logSearch()"
    />
    <button (click)="changeTypeOfSearch()" class="SearchType" type="button">
      <mat-icon>{{ searchService.changeTypeOfSearchIcon }}</mat-icon>
    </button>
  </div>
</nav>
