<div class="MainMenuContainer">
  <div class="MainMenu">
    <div class="MainMenuHeader">
      <button class="MenuButton">
        <mat-icon class="MenuButtonIcon">close</mat-icon>
      </button>
      <a class="Logo">ComidaYa</a>
    </div>
    <ul class="Routes">
      <li class="Route">
        <a routerLink="/nueva-receta">Nueva receta</a>
      </li>
      <li class="Route">
        <a routerLink="/recetas">Buscar recetas</a>
      </li>
      <li class="Route">
        <a routerLink="/nueva-favoritas">Recetas favoritas</a>
      </li>
      <li class="Route">
        <a routerLink="/nueva-comida">Nueva comida</a>
      </li>
      <li class="Route">
        <a routerLink="/comidas">Buscar comidas</a>
      </li>
      <li class="Route">
        <a routerLink="/comidas-favoritas">Comidas favoritas</a>
      </li>
      <li class="Route">
        <a routerLink="/perfil">Perfil y configuración</a>
      </li>
    </ul>
  </div>
  <div class="MainMenuBackground"></div>
</div>
