<div class="MainMenuContainer">
  <div class="MainMenu">
    <div class="MainMenuHeader">
      <button class="MenuButton" (click)="closeMenu()">
        <mat-icon class="MenuButtonIcon">close</mat-icon>
      </button>
      <a class="Logo" routerLink="/" (click)="closeMenu()">ComidaYa</a>
    </div>
    <ul class="Routes" (click)="closeMenu()">
      <li class="Route">
        <a routerLink="/nueva-receta">Nueva receta</a>
      </li>
      <li class="Route">
        <a routerLink="/recetas" (click)="changeToRecipes()">Buscar recetas</a>
      </li>
      <li class="Route">
        <a routerLink="/recetas-favoritas">Recetas favoritas</a>
      </li>
      <li class="Route">
        <a routerLink="/mis-recetas">Mis recetas</a>
      </li>
      <li class="Route">
        <a routerLink="/nueva-comida">Nueva comida</a>
      </li>
      <li class="Route">
        <a routerLink="/comidas" (click)="changeToMeals()">Buscar comidas</a>
      </li>
      <li class="Route">
        <a routerLink="/comidas-favoritas">Comidas favoritas</a>
      </li>
      <li class="Route">
        <a routerLink="/mis-comidas">Mis comidas</a>
      </li>
      <li class="Route">
        <a routerLink="/perfil">Perfil y configuración</a>
      </li>
      <li class="Route">
        <a href="" (click)="goToSignIn($event)">Iniciar sesión</a>
      </li>
    </ul>
  </div>
  <div class="MainMenuBackground" (click)="closeMenu()"></div>
</div>
