<div class="MainContainer">
  <div class="MainTitle">Nueva Comida</div>

  <div class="MealContainer">
    <div class="FoodImageContainer">
      <img [src]="newMealService.image" class="FoodImage" />
      <label
        *ngIf="!newMealService.image"
        class="AddFoodImage"
        for="addFoodImage"
      >
        <input
          id="addFoodImage"
          name="foodImage"
          class="AddFoodImageHiden"
          type="file"
          accept="image/jpg, image/jpeg"
          (change)="updateInformation($event)"
        />Agregar Imágen
      </label>

      <label
        *ngIf="newMealService.image"
        class="ChangeFoodImage"
        for="changeFoodImage"
      >
        <input
          id="changeFoodImage"
          name="foodImage"
          class="AddFoodImageHiden"
          type="file"
          accept="image/jpg, image/jpeg"
          (change)="updateInformation($event)"
        />Cambiar Imágen
      </label>
    </div>
    <div>
      <div class="Name">Nombre de la comida</div>
      <textarea
        class="Description"
        name="foodName"
        [value]="newMealService.foodName"
        (change)="updateInformation($event)"
        [placeholder]="mealNamePlaceholder"
      ></textarea>
    </div>

    <div>
      <div class="Name">Descripción</div>
      <textarea
        class="FoodDescription"
        name="foodDescription"
        [value]="newMealService.foodDescription"
        (change)="updateInformation($event)"
        [placeholder]="mealDescriptionPlaceholder"
      ></textarea>
    </div>

    <div>
      <div class="Title">Detalles</div>
      <form class="Ingredients">
        <div
          class="NewIngredientContainer"
          *ngFor="let detail of newMealService.details; let i = index"
        >
          <input
            [id]="detail.id"
            type="text"
            class="NewDetail"
            name="newDetailAdded"
            [value]="detail.description"
            (change)="updateInformation($event)"
            [placeholder]="newDetailPlaceholder"
          />
          <input
            [id]="detail.id"
            type="button"
            class="SubmitNewDetail"
            name="deleteDetail"
            value="Borrar"
            (click)="updateInformation($event)"
          />
        </div>
        <div class="NewIngredientContainer">
          <input
            id="NewDetail"
            type="text"
            class="NewDetail"
            name="newDetail"
            [value]="newMealService.newDetail.description"
            (change)="updateInformation($event)"
            [placeholder]="newDetailPlaceholder"
          />
          <input
            type="button"
            class="SubmitNewDetail"
            value="Agregar"
            name="addDetail"
            (click)="updateInformation($event)"
          />
        </div>
      </form>
    </div>

    <div class="Title">Número máximo por día</div>
    <div class="MaxMealContainer">
      <input
        class="MaxMeals"
        type="number"
        name="maxMeals"
        (change)="updateInformation($event)"
        [placeholder]="maximumAmounthPlaceholder"
      />
      <input type="submit" class="SubmitNewDetail" value="Guardar" />
    </div>

    <div class="SaveMealContainer">
      <button class="SaveMeal" (click)="uploadImage()">Publicar Comida</button>
    </div>
  </div>
</div>
