<div class="MainContainer">
  <div class="MainTitle">Nueva Comida</div>

  <div class="MealContainer">
    <div class="FoodImageContainer">
      <img src="" class="FoodImage" />
      <button class="AddFoodImage">Agregar Imágen</button>
      <button class="ChangeFoodImage">Cambiar Imágen</button>
    </div>
    <div>
      <div class="Name">Nombre de la comida</div>
      <textarea
        class="Description"
        [placeholder]="mealNamePlaceholder"
      ></textarea>
    </div>

    <div>
      <div class="Title">Detalles</div>
      <form class="Ingredients">
        <div class="Detail">Detalle1</div>
        <div class="Detail">Detalle2</div>
        <div class="Detail">Detalle3</div>
        <div class="NewIngredientContainer">
          <input
            type="text"
            class="NewDetail"
            [placeholder]="newDetailPlaceholder"
          />
          <input type="submit" class="SubmitNewDetail" value="Agregar" />
        </div>
      </form>
    </div>

    <div class="Title">Número máximo por día</div>
    <div class="MaxMealContainer">
      <input
        class="MaxMeals"
        type="number"
        [placeholder]="maximumAmounthPlaceholder"
      />
      <input type="submit" class="SubmitNewDetail" value="Guardar" />
    </div>

    <div class="SaveMealContainer">
      <button class="SaveMeal">Publicar Comida</button>
    </div>
  </div>
</div>
