<div class="RecipeContainer">
  <div class="FoodImageContainer">
    <img src="" class="FoodImage" />
  </div>
  <div>
    <div class="Name">Nombre de la comida</div>
    <div class="Description">
      Descripcion de la comida, descripcion de la comida
    </div>
  </div>
  <div>
    <div class="Title">Detalles del pedido</div>
    <form class="MoreDetailsList">
      <input type="checkbox" id="detail" />
      <label for="detail" class="Detail">Selección del detalle</label><br />
      <input type="checkbox" id="detail" />
      <label for="detail" class="Detail">Selección del detalle</label><br />
      <input type="checkbox" id="detail" />
      <label for="detail" class="Detail">Selección del detalle</label><br />
    </form>
  </div>

  <div class="ConfirmOrderContainer">
    <button (click)="decrease()" class="ChangeAmounth">-</button>
    <div class="Amounth">{{ amounth }}</div>
    <button (click)="increment()" class="ChangeAmounth">+</button>
    <button class="OrderButton">Agregar</button>
  </div>
</div>
