<div>
  <div class="MainTitle">Perfil y Configuración</div>
  <div class="ProfileContainer">
    <div class="SectionContainer">
      <div class="Title">Nombre</div>
      <label>
        <input
          class="Name"
          type="text"
          name="userName"
          [placeholder]="userNamePlaceholder"
          (change)="changeValue($event)"
          [value]="profileService.userName"
        />
      </label>

      <div class="Title">Dirección de entrega</div>
      <label>
        <textarea
          class="Address"
          name="address"
          [placeholder]="addressPlaceholder"
          (change)="changeValue($event)"
          [value]="profileService.address"
        ></textarea>
      </label>
    </div>

    <div class="SectionContainer">
      <div class="Title">Nombre comercial</div>
      <label>
        <input
          class="Name"
          type="text"
          name="tradename"
          [placeholder]="tradenamePlaceholder"
          (change)="changeValue($event)"
          [value]="profileService.tradename"
        />
      </label>

      <div class="Title">Dirección comercial</div>
      <label>
        <textarea
          class="Address"
          name="businessAddress"
          [placeholder]="businessAddressPlaceholder"
          (change)="changeValue($event)"
          [value]="profileService.userName"
        ></textarea>
      </label>
    </div>

    <div class="SectionContainer">
      <div class="Title">Cambiar contraseña</div>
      <input
        [placeholder]="oldPasswordPlaceholder"
        class="Password"
        type="password"
        name="oldPassword"
        (change)="changeValue($event)"
        [value]="profileService.oldPassword"
      />
      <input
        [placeholder]="newPasswordPlaceholder"
        class="Password"
        type="password"
        name="newPassword"
        (change)="changeValue($event)"
        [value]="profileService.newPassword"
      />
      <input
        [placeholder]="confirmNewPasswordPlaceholder"
        class="Password"
        type="password"
        name="confirmNewPassword"
        (change)="changeValue($event)"
        [value]="profileService.confirmNewPassword"
      />
      <input
        type="submit"
        name="changePassword"
        value="Cambiar"
        class="ChangePasswordButton"
      />
    </div>
  </div>
</div>
