<div>
  <div class="MainTitle">Perfil y Configuración</div>
  <div class="ProfileContainer">
    <div class="SectionContainer">
      <div class="Title">Nombre</div>
      <label>
        <input
          class="Name"
          type="text"
          name="userName"
          [(ngModel)]="userName"
          [placeholder]="userNamePlaceholder"
        />
      </label>

      <div class="Title">Dirección de entrega</div>
      <label>
        <textarea
          class="Address"
          name="address"
          [(ngModel)]="address"
          [placeholder]="addressPlaceholder"
        ></textarea>
      </label>
    </div>

    <div class="SectionContainer">
      <div class="Title">Nombre comercial</div>
      <label>
        <input
          class="Name"
          type="text"
          name="tradename"
          [(ngModel)]="tradename"
          [placeholder]="tradenamePlaceholder"
        />
      </label>

      <div class="Title">Dirección comercial</div>
      <label>
        <textarea
          class="Address"
          name="businessAddress"
          [(ngModel)]="businessAddress"
          [placeholder]="businessAddressPlaceholder"
        ></textarea>
      </label>
    </div>

    <div class="SectionContainer">
      <div class="Title">Cambiar contraseña</div>
      <input
        [placeholder]="oldPasswordPlaceholder"
        class="Password"
        type="password"
        name="oldPassword"
        [(ngModel)]="oldPassword"
      />
      <input
        [placeholder]="newPasswordPlaceholder"
        class="Password"
        type="password"
        name="newPassword"
        [(ngModel)]="newPassword"
      />
      <input
        [placeholder]="confirmNewPasswordPlaceholder"
        class="Password"
        type="password"
        name="confirmNewPassword"
        [(ngModel)]="confirmNewPassword"
      />
      <input
        type="submit"
        name="changePassword"
        value="Cambiar"
        class="ChangePasswordButton"
      />
    </div>
  </div>
</div>
